@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #020617;
    color: #f1f5f9;
}

.G {
    color: #4285F4;
}

.o-red, .e-red {
    color: #DB4437;
}

.o-yellow {
    color: #F4B400;
}
